body{
    margin: 0;
    background-color: white;
    padding: 0;
}


.header{
    background-color: white;
    
    
}
.header ul
        {
            
            list-style-type: none;
            margin:0;
            padding: 4px;
            overflow: hidden;
            position: relative;
            width: 100%;
            border-radius: 2px;
            box-sizing: 100%;
            padding-left: 500px;
            
        }

        
       .header ol{
        float: left ;
        padding: 20px;
       
       
       }

    header ul a{

            text-decoration: none;
            text-transform: capitalize;
            color: black;
            font-family: sans-serif;
            font-size: 16px;
       
    }
    header ul a:before
        {
            content: "";
            width: 0;
            height: 2px;
            background: blue;
            display: flex;
            border-radius: 20%;
            top: 25px;
            position: relative;
            transition: 0.6s ease-in;
        
    }
 
     header ul a:hover:before {
        width: 100%;
    }
    .icon{
        height: 50px;
        width: 100px;
        
        position: absolute;
        left: 300px;
        top: 12px;
    }

    .btn{
        position: absolute;
        right: 450px;
        top: 12px;
         color: #570bd1;
        border-radius: 20px;
        padding: 14px 21px;
        background-color: #ffD8D8;
        border-color: #FFD8DB;
        cursor: pointer;
       
    }
    .btn2{
        border-radius: 20px;
        background-color: #5243C0;
        padding: 14px 21px;
        color: #ffffff;
        cursor: pointer;
        
    }
    .cnt{
       padding: 50px 350px;
}
    .logo{
        position: relative;
        left: 50px;
        top: 20px;
        cursor: pointer;
    }

    .logo1{
        position: relative;
        left: 25px;
        top: 20px;
        cursor: pointer;
    }
    .tick{
        position: relative;
        left: 350px;
        top: 9px;
        margin: 0%;
    }
    
    .title{
        position: relative;
        padding-left: 20px;
        left: 380px;
        top: 0px;
        margin: 0%;
        justify-content: center;
        
    }

    

    .stunning-logo{
      position: absolute;
        width: 500px;
        height: 500px;
        left: 800px;
        top: 100px;
    }

   

    .user {
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: relative;
        left: 220px;
        margin: 20px 30px 0 30px;
        background: white;
        cursor: pointer;
        border-radius: 10px;
        padding: 2px 20px;
        box-shadow: 0px 0px 5px 32px #c5c4c433;
        margin-bottom: 50px;
    }
    .user-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        align-content: space-between;
        flex-wrap: wrap;
    }
    .user-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        color: #c5c4c4de;
    }
    .user-2 .user-list .img {
        width: 40px;
        height: 40px;
        padding: 10px;
    }
    .user-list .para {
        margin: 0;
        width: 120px;
        color: #0000009d;
    }
    .user-list .Date{
        margin: 0;
        width: 50px;
        max-width: 50px;
        color: #0000009d;
    }
    .user-list .link {
        width: 20px;
        height: 10px;
        border-radius: 25px;
        background: #000; 
        margin-right: 10px; 
    }
    .user .user-2 .user-list.active {
        background: #e7e2e2;
        transform: scale(1,1);
        width: 100%;
        z-index: 888;
        border-radius: 10px;
        color: #000000;
        box-shadow: 0px 0px 1px 10px  #c5c4c43b transparent;
    }
