body{
    margin: 0;
    background-color: white;
    padding: 0;
}
/*----------------------------header-----------------------------------*/
header{
    padding: 20px 100px;
    background: white;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    color: #ffd800;
    display: flex;
    align-items: center;
}
.logo img{
    width: 120px;
    height: 50px;
}
.navbar .navigation{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}
.navigation .nav-items{
    display: flex;
    flex-direction: row;
}
.navbar .navigation .nav-items a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    font-family: sans-serif;
    padding: 20px;

}
.navigation .nav-items a:before {
    content: "";
    width: 0;
    height: 2px;
    background: blue;
    display: flex;
    border-radius: 20%;
    top: 25px;
    position: relative;
    transition: 0.6s ease-in;
}
.navigation .nav-items a:hover:before {
    width: 100%;
}
.loginbtn{
    width: 120px;
    height: 55px;
    padding: 2px;
    border: 0;
    margin: 0;
    border-radius: 25px;
    background: #FFD8DB;
    color: #A389CC;
    font-size: 0.8em;
    font-weight: 600;
} 
/*----------------------------header-----------------------------------*/

/*----------------------------Main-----------------------------------*/

.section{
    padding: 0 50px;
}
.main{
    display: flex;
    flex-direction: row;
}
.main .content{
    width: 50%;
}
.content img{
    padding: 20px;
    width: 500px;
    height: 500px;
}
.content .heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
}
.content .heading h2{
    font-size: 65px;
    font-family: sans-serif;
    font-weight: 900;
    margin-left: 40px;
}
.heading h2 span{
    color: #5243C0;
}
.content .heading p{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    padding-left: 0px;
    margin-left: 40px;
    padding-right: 81px;
    padding-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 511px;
    height: 70px;
}
.button {
    padding: 10px 0 0 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.button button{
    background: #5243C0;
    color: #fff;
    height: 50px;
    width: 120px;
    height: 55px;
    padding: 2px;
    border: 0;
    margin: 0;
    border-radius: 25px;
    font-size: 0.8em;
    font-weight: 600;
}
.button .arrow img {
    width: 100px;
    height: 100px;
}
.arrow {
    margin-left: 0px;
    padding: 0;
    width: 164;
    height: 80;
}
.user {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    align-content: center;
    margin: 20px 30px 0 30px;
    background: #c5c4c433;
    cursor: pointer;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0px 0px 5px 32px #c5c4c433;
    margin-bottom: 50px;
}
.user-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
}
.user-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    color: #c5c4c4de;
}
.user-2 .user-list .img {
    width: 40px;
    height: 40px;
    padding: 10px;
}
.user-list .para {
    margin: 0;
    width: 120px;
    color: #0000009d;
}
.user-list .Date{
    margin: 0;
    width: 50px;
    max-width: 50px;
    color: #0000009d;
}
.user-list .link {
    width: 20px;
    height: 10px;
    border-radius: 25px;
    background: #000; 
    margin-right: 10px; 
}
.user .user-2 .user-list.active {
    background: #fff;
    transform: scale(1,1);
    width: 100%;
    z-index: 888;
    border-radius: 10px;
    color: #000000;
    box-shadow: 0px 0px 1px 10px  #c5c4c43b transparent;
}
